<div class="container">
  <h1>Create an account</h1>
  <br>
  <form action="/users/new", method="POST">
    <li>
    <label for="user_name">Name</label>
    <input id="user_name" type="text" name="user[name]" autofocus />
  </li>
  <br>
    <li>
    <label for="user_email">Email</label>
    <input id="user_email" type="text" name="user[email]" />
  </li>
  <br>
    <li>
    <label for="user_password">Password</label>
    <input id="user_password" type="password" name="user[password]" />
  </li>
  <br>
    <li>
    <label for="user_city">City</label>
    <input id="user_city" type="text" name="user[city]" />
  </li>
  <br>
  <li>
    <input class="submit_button" type="submit" value="Save" />
  </li>
  </form>




</div>
